/* --------------------------------------------------------------
 * Base de estilo para tablas creada por el PageDynamic
 * ------------------------------------------------------------- */
 #editPanel {
    box-shadow: 0px 1px 6px;
    padding: 2em;
}
#closeEditPanel {
    position: absolute;
    right: 18px;
    top: 32px;
    border: 1px solid;
    padding: .4em;
    background: #d43f3a;
    color: white;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
.requerido {
    background: rgb(255, 231, 231);
    border: 1px solid red;
}
.highlighted { background: yellow; }
.help {
}

    .help > td {
        padding-left: 1.5em !important;
    }


    .help .info {
        background-color: #E7E7E7 !important;
        width: 35%;
        color: #545F66;
        font-size: .9em;
        position: relative;
    }

        .help .info::before {
            border: solid transparent;
            border-left-color: rgb(231, 231, 231);
            border-right-color: transparent;
            border-width: 16px;
            position: absolute;
            margin-right: 1px;
            content: "";
            right: -32px;
        }

    .help .field {
        width: 75%;
    }
