/* --------------------------------------------------------------
 * Base de estilo para tablas creada por el PageDynamic
 * ------------------------------------------------------------- */

.help {
}

    .help > td {
        padding-left: 1.5em !important;
    }


    .help .info {
        background-color: #E7E7E7 !important;
        width: 35%;
        color: #545F66;
        font-size: .9em;
        position: relative;
    }

        .help .info::before {
            border: solid transparent;
            border-left-color: rgb(231, 231, 231);
            border-right-color: transparent;
            border-width: 16px;
            position: absolute;
            margin-right: 0;
            content: "";
            right: -32px;
        }

    .help .field {
        width: 75%;
    }
